/dts-v1/;
/plugin/;

/ {
    compatible = "allwinner,sun8i-h3";

    fragment@0 {
        target = <&i2s0>;
        __overlay__ {
            status = "okay";
            pinctrl-0 = <&i2s0_pins>;
            pinctrl-names = "default";
            /* This is the magic line for the H3 to allow recording */
            #sound-dai-cells = <0>; 
        };
    };

    fragment@1 {
        target-path = "/";
        __overlay__ {
            /* We define a generic codec that handles both IN and OUT */
            i2s_codec: i2s_codec {
                #sound-dai-cells = <0>;
                compatible = "linux,spdif-dit"; 
                status = "okay";
            };

            sound_i2s {
                compatible = "simple-audio-card";
                simple-audio-card,name = "I2S-FullDuplex";
                simple-audio-card,format = "i2s";
                
                simple-audio-card,cpu {
                    sound-dai = <&i2s0>;
                };

                simple-audio-card,codec {
                    sound-dai = <&i2s_codec>;
                };
            };
        };
    };
};
